# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ MAIN ]
  pull_request:
    branches: [ MAIN ]

jobs:
  
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    
    - name: Construcao Imagem Docker
    - uses: docker/build-push-action@v4.0.0
     with:
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: mdlkr/app:v1

  
  
